{% trans_default_domain 'sfs_cms_blocks' %}
{% if not app.request.query.has('cms-edit') %}
    {{ form_start(filterForm, {'attr':{'class':'search-blog-form mb-4'}}) }}
    {{ form_widget(filterForm.text) }}
    {{ form_rest(filterForm) }}
    <button class="btn btn-dark" type="submit">{{ 'article_list.form.button'|trans }}</button>
    {{ form_end(filterForm) }}

    {% for article in articles %}
    <a class="article-list-item" href="{{ url(article.routes.first.id) }}">
        <p class="article-list-item__date">{{ article.publishedAt|time_ago|lower }}</p>
        <h2 class="article-list-item__title">{{ article.extraData.title[app.request.locale]|default(article.name) }}</h2>
        <p class="article-list-item__description">{{ article.extraData.description[app.request.locale]|default }}</p>
        <p class="article-list-item__read-more">{{ 'article_list.list.read_more'|trans }}<i class="mdi mdi-chevron-right mdi-36px align-middle"></i></p>
    </a>
    {% endfor %}

    {% include '@SfsComponents/paginator/pager.html.twig' with {
        'collection': articles,
        'pagination_route': app.request.query.get('current_route', ''),
        'pagination_route_attributes': {},
        'query_params': query,
    } %}
{% else %}
    {% for article in articles %}
        <a class="article-list-item" href="#">
            <p class="article-list-item__date">{{ article.publishedAt|time_ago|lower }}</p>
            <h2 class="article-list-item__title">{{ article.extraData.title[app.request.locale]|default(article.name) }}</h2>
            <p class="article-list-item__description">{{ article.extraData.description[app.request.locale]|default }}</p>
            <p class="article-list-item__read-more">{{ 'article_list.list.read_more'|trans }}<i class="mdi mdi-chevron-right mdi-36px align-middle"></i></p>
        </a>
    {% endfor %}

    {% include '@SfsComponents/paginator/pager.html.twig' with {
        'collection': articles,
        'pagination_route': '',
        'pagination_route_attributes': {},
        'query_params': {},
    } %}
{% endif %}

