{% if not app.request.query.has('cms-edit') %}
    {{ form_start(filterForm,{attr:{'class':'search-form row row-cols-lg-auto g-3 align-items-center'}}) }}
    {{ form_row(filterForm.text,{attr:{'class':'col'}}) }}
    {{ form_rest(filterForm) }}
    <button type="submit"  class="btn btn-primary"><span class="bi bi-search" ></span></button>
    {{ form_end(filterForm) }}

    {% for article in articles %}
        <div class="border-bottom py-3 mb-3">
        <p class="mb-2"><small><strong>Publicado {{ article.publishedAt|time_ago|lower }}</strong></small></p>
        <h2><a href="{{ url(article.routes.first.id) }}">{{ article.extraData.title[app.request.locale]|default(article.name) }}</a></h2>
            <p class="mb-2"><a href="{{ url(article.routes.first.id) }}">{{ article.extraData.description[app.request.locale]|default }}</a></p>
                <p class="text-end mb-0">
                    <a href="{{ url(article.routes.first.id) }}" class="btn btn-link text-gray">Seguir leyendo<span class="h2 bi bi-chevron-right align-middle"></span></a>
                </p>
        </div>
    {% endfor %}

    {% include '@SfsComponents/paginator/pager.html.twig' with {
        'collection': articles,
        'pagination_route': app.request.query.get('current_route', ''),
        'pagination_route_attributes': {},
        'query_params': query,
    } %}
{% else %}
    {% for article in articles %}
        <div class="border-bottom py-3 mb-3">
            <p class="mb-2"><small><strong>Publicado {{ article.publishedAt|time_ago|lower }}</strong></small></p>
        <h2><a href="#">{{ article.extraData.title[app.request.locale]|default(article.name) }}</a></h2>
            <p class="mb-2">{{ article.extraData.description[app.request.locale]|default }}</p>

                        <p class="text-end mb-0">
                            <a href="#" class="btn btn-link">Seguir leyendo<span class="h2 bi bi-chevron-right align-middle"></span></a>
                        </p>
                    </div>

    {% endfor %}

    {% include '@SfsComponents/paginator/pager.html.twig' with {
        'collection': articles,
        'pagination_route': '',
        'pagination_route_attributes': {},
        'query_params': {},
    } %}
{% endif %}

